body > main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  min-height: calc(100vh - 7rem);
  padding: 1rem 0;
}

body > footer {
  padding: 1rem 0;
}

footer > aside > a {
  margin-right: 0.33em;
}

nav > ul:first-child > li:not(:last-child):after {
  display: inline-block;
  width: 0;
  vertical-align: baseline;
  content: "/";
  padding-left: 10px;
}

.funky-kong {
  background-image: url("/assets/Funky_Kong.webp");
  background-position: center;
  background-size: cover;
  height: 56px;
  width: 56px;
}
