<!DOCTYPE html>
<html lang="en">
<head>
  <title>Home</title>
    {{ template "header.gohtml" }}
</head>
<body>
<main class="container">
  <h1>mkw.re</h1>
  <p>Hello, {{ .Username }}</p>
</main>
</body>
</html>
