<!DOCTYPE html>
<html lang="en">
<head>
  <title>Login</title>
  {{ template "head.gohtml" }}
  <style>
    article {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
    }

    article {
      padding: 0;
      overflow: hidden;
    }

    article div {
      padding: 1rem;
    }

    article div:nth-of-type(1) {
      min-height: 20rem;
      padding: 3rem;
      display: flex;
      flex-direction: column;
      justify-content: space-evenly;
    }

    /* Hero Image */
    article div:nth-of-type(2) {
      display: none;
      background-color: #374956;
      background-image: url("/assets/Funky_Kong.webp");
      background-position: center;
      background-size: cover;
      filter: sepia(100%) hue-rotate(160deg) saturate(150%) blur(1px);
    }

    @media (min-width: 992px) {
      article > div:nth-of-type(2) {
        display: block;
        min-width: 20rem;
        min-height: 20rem;
      }
    }

    button, form {
      margin: 0;
    }
  </style>
</head>
<body>
{{ template "nav.gohtml" . }}
<main class="container">
  <article>
    <div>
      <hgroup>
        <h1>Sign in</h1>
        <h2>Get access to Ghidra Panel</h2>
      </hgroup>
      <form action="/login" method="post">
        <button class="contrast" type="submit">Login with Discord</button>
      </form>
    </div>
    <div><!-- Funky Kong --></div>
  </article>
</main>
{{ template "footer.gohtml" }}
</body>
</html>
