<!DOCTYPE html>
<html lang="en">
<head>
  <title>Login</title>
  {{ template "header.gohtml" }}
</head>
<body>
<main class="container">
  <article>
    <h1>mkw.re</h1>
    <form action="/login" method="post">
      <button type="submit" role="button" style="width: auto;">Login with Discord</button>
    </form>
  </article>
</main>
</body>
</html>
